        .pai {
            background-color: gray;
            width: 590px;
            height: 250px;
            border: solid 2px #000;
            margin: 10px;
        }

        .caixa {
            background-color: rgb(151, 55, 55);
            width: 100px;
            height: 100px;
            border-radius: 50px;
        }

        .titulo {
            font-family: cursive;
        }

        .cor-padrao {
            color: rgb(151, 55, 55);
            font-size: 25px;
        }
    